# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

# Node.js (in geval je later tools toevoegt)
node_modules/
npm-debug.log
yarn-error.log

# Overig
/tmp
*.log
